.main-content {
  /* border: 5px solid green; */
  min-height: 80vh;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}